<% @page_title = "トップページ" %>
<h1><%= @page_title %></h1>

<!--フライト検索フォーム-->
<%= render "shared/flights_search_form" %>

<p>
  欠航情報<br>
  他言語切り替え<br>
  <br>
</p>

<%= link_to "ログインページ", [:new, :session] unless current_customer %>
<%= link_to "会員登録はこちら", [:new, :account] unless current_customer %>
<%= link_to "管理者ログインページ", [:new, :admin, :session] %>
<%= link_to "航空会社ログインページ", [:new, :air, :session] %>
