<% if bookings.present? %>
  <table class="list">
    <tr>
      <th><%= t("bookings.table.airline_flight") %></th>
      <th><%= t("bookings.table.origin_destination") %></th>
      <th><%= t("bookings.table.date") %></th>
      <th><%= t("bookings.table.times") %></th>
      <th><%= t("bookings.table.class") %></th>
      <th><%= t("bookings.table.number_of_passengers") %></th>
      <th><%= t("bookings.table.total_price") %></th>
      <th><%= t("bookings.table.payment_method") %></th>
      <th><%= t("bookings.table.details") %></th>
    </tr>
    <% bookings.each do |booking| %>
      <tr>
        <td><%= booking.flight.name %></td>
        <td><%= "#{booking.flight.origin.name} → #{booking.flight.destination.name}" %></td>
        <td><%= booking.flight.departure_date.strftime("%Y/%m/%d") %></td>
        <td><%= "#{booking.flight.departure_time.strftime("%H:%M")} → #{booking.flight.arrival_time.strftime("%H:%M")}" %></td>
        <td><%= seat_class_map[booking.seats.first.seat_class] %></td>
        <td><%= "#{booking.seats.size}" %></td>
        <td><%= "¥#{booking.total_price}" %></td>
        <td><%= booking.payment_method %></td>
        <td><%= link_to t("bookings.table.details"), [:account, booking] %></td>
      </tr>
    <% end %>
  </table>
<% end %>