<% @page_title = t("bookings.show_page_title") %>
<h1><%= @page_title %></h1>
<table class="list">
  <tr>
    <th><%= t("bookings.table.airline_flight") %></th>
    <th><%= t("bookings.table.origin_destination") %></th>
    <th><%= t("bookings.table.date") %></th>
    <th><%= t("bookings.table.times") %></th>
    <th><%= t("bookings.table.class") %></th>
    <th><%= t("bookings.table.number_of_passengers") %></th>
    <th><%= t("bookings.table.total_price") %></th>
    <th><%= t("bookings.table.payment_method") %></th>
    <th><%= t("bookings.return_to_details") %></th>
  </tr>
  <tr>
    <td><%= @booking.flight.name %></td>
    <td><%= "#{@booking.flight.origin.name} → #{@booking.flight.destination.name}" %></td>
    <td><%= @booking.flight.departure_date.strftime("%Y/%m/%d") %></td>
    <td><%= "#{@booking.flight.departure_time.strftime("%H:%M")} → #{@booking.flight.arrival_time.strftime("%H:%M")}" %></td>
    <td><%= seat_class_map[@booking.seats.first.seat_class] %>
    <td><%= "#{@booking.seats.size}" %></td>
    <td><%= "¥#{@booking.total_price}" %></td>
    <td><%= @booking.payment_method %></td>
    <td><%= link_to t("bookings.return_to_details"), [:account, @booking] %></td>
  </tr>
</table>

<table class="attr">
  <tr>
    <th><%= t("bookings.passenger.name") %></th>
    <td><%= @booking.passenger1_name %></td>
    <%== "<td>#{@booking.passenger2_name}</td>" if @booking.passenger2_name.present? %>
    <%== "<td>#{@booking.passenger3_name}</td>" if @booking.passenger3_name.present? %>
  </tr>
  <tr>
    <th><%= t("bookings.passenger.birthday") %></th>
    <td><%= @booking.passenger1_birthday %></td>
    <%== "<td>#{@booking.passenger2_birthday}</td>" if @booking.passenger2_name.present? %>
    <%== "<td>#{@booking.passenger3_birthday}</td>" if @booking.passenger3_name.present? %>
  </tr>
  <tr>
    <th><%= t("bookings.passenger.telephone_number") %></th>
    <td><%= @booking.passenger1_telephone_number %></td>
    <%== "<td>#{@booking.passenger2_telephone_number}</td>" if @booking.passenger2_name.present? %>
    <%== "<td>#{@booking.passenger3_telephone_number}</td>" if @booking.passenger3_name.present? %>
  </tr>
  <tr>
    <th><%= t("bookings.passenger.email") %></th>
    <td><%= @booking.passenger1_email %></td>
    <%== "<td>#{@booking.passenger2_email}</td>" if @booking.passenger2_name.present? %>
    <%== "<td>#{@booking.passenger3_email}</td>" if @booking.passenger3_name.present? %>
  </tr>
  <tr>
    <th><%= t("bookings.passenger.seat") %></th>
    <% @booking.seats.each do |seat| %>
      <td><%= seat.number %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= t("bookings.passenger.class") %></th>
    <% @booking.seats.each do |seat| %>
      <td><%= seat_class_map[seat.seat_class] %> </td>
    <% end %>
  </tr>
</table>
<%= form_for [:account, @booking] do |form| %>
  <%= render "shared/errors", obj: @booking %>
  <div><%= form.submit t("bookings.passenger.check_in") %></div>
<% end %>