<% @page_title = t("bookings.show_page_title") %>
<h1><%= @page_title %></h1>
<%= link_to t("bookings.return_to_list"), [:account, :bookings] %>

<table class="list">
  <tr>
    <th><%= t("bookings.table.airline_flight") %></th>
    <th><%= t("bookings.table.origin_destination") %></th>
    <th><%= t("bookings.table.date") %></th>
    <th><%= t("bookings.table.times") %></th>
    <th><%= t("bookings.table.class") %></th>
    <th><%= t("bookings.table.number_of_passengers") %></th>
    <th><%= t("bookings.table.total_price") %></th>
    <th><%= t("bookings.table.payment_method") %></th>
  </tr>
  <tr>
    <td><%= @booking.flight.name %></td>
    <td><%= "#{@booking.flight.origin.name} → #{@booking.flight.destination.name}" %></td>
    <td><%= @booking.flight.departure_date.strftime("%Y/%m/%d") %></td>
    <td><%= "#{@booking.flight.departure_time.strftime("%H:%M")} → #{@booking.flight.arrival_time.strftime("%H:%M")}" %></td>
    <td><%= seat_class_map[@booking.seats.first.seat_class] %>
    <td><%= "#{@booking.seats.size}" %></td>
    <td><%= "¥#{@booking.total_price}" %></td>
    <td><%= @booking.payment_method %></td>
  </tr>
</table>

<div class="booking-details">
  <h4><%= t("bookings.passenger.booking_number") %>: <%= @booking.id %></h4>

  <% @booking.booking_seat_flights.each do |booking_seat_flight| %>
    <hr>
    <div class="booking-seat-flight">
      <h5><%= t("bookings.passenger.name") %>: <%= booking_seat_flight.passenger_name %></h5>
      <p><%= t("bookings.passenger.birthday") %>: <%= booking_seat_flight.passenger_birthday %></p>
      <p><%= t("bookings.passenger.telephone_number") %>: <%= booking_seat_flight.passenger_telephone_number %></p>
      <p><%= t("bookings.passenger.email") %>: <%= booking_seat_flight.passenger_email %></p>
      <p><%= t("bookings.passenger.seat") %>: <%= booking_seat_flight.seat.number %>
        (<%= seat_class_map[booking_seat_flight.seat.seat_class] %>)</p>
      <p><%= t("bookings.passenger.checkin_status") %>: <%= booking_seat_flight.checkin ? t("bookings.passenger.completed") : t("bookings.passenger.not_completed") %></p>
      <p><%= link_to t("bookings.passenger.checkin_link"), [:edit, booking_seat_flight, @booking] unless booking_seat_flight.checkin %></p>
    </div>
  <% end %>
</div>

<%= link_to t("bookings.delete_booking"), [:account, :booking], method: :delete, data: { confirm: t("bookings.delete_confirm") } %>
