<% @page_title = t("bookings.index_page_title") %>
<h1><%= @page_title %></h1>

<div class="tabs">
  <input type="radio" name="tab-control" id="tab1" checked>
  <input type="radio" name="tab-control" id="tab2">
  <label for="tab1" class="tab-title"><%= t("bookings.booking_information") %></label>
  <label for="tab2" class="tab-title"><%= t("bookings.booking_history") %></label>
  <div class="tab-content">
    <section id="content1">
      <h2><%= t("bookings.booking_information") %></h2>
      <%= render "bookings_table", bookings: @bookings_information %>
    </section>
    <section id="content2">
      <h2><%= t("bookings.booking_history") %></h2>
      <%= render "bookings_table", bookings: @bookings_history %>
    </section>
  </div>
</div>

