<%= render "shared/errors", obj: @booking %>

<% (1..@number_of_passengers).each do |passenger_number| %>
  <table class="attr">
    <%= form.label "passenger#{passenger_number}_name", t("booking_form.passenger", number: passenger_number) %>
    <tr>
      <th><%= form.label "passenger#{passenger_number}_name", t("booking_form.name") %></th>
      <td><%= form.text_field "passenger#{passenger_number}_name" %></td>
    </tr>
    <tr>
      <th><%= form.label "passenger#{passenger_number}_birthday", t("booking_form.birthday") %></th>
      <td><%= form.date_select "passenger#{passenger_number}_birthday", start_year: 1940, end_year: Time.current.year, use_month_numbers: true %></td>
    </tr>
    <tr>
      <th><%= form.label "passenger#{passenger_number}_telephone_number", t("booking_form.telephone_number") %></th>
      <td><%= form.text_field "passenger#{passenger_number}_telephone_number" %></td>
    </tr>
    <tr>
      <th><%= form.label "passenger#{passenger_number}_email", t("booking_form.email") %></th>
      <td><%= form.text_field "passenger#{passenger_number}_email" %></td>
    </tr>
  </table>
<% end %>

<table>
  <%= form.label :payment_method, t("booking_form.payment_method") %>
  <% %w[credit_card paypay convenience_store].each do |method| %>
    <tr>
      <th><%= form.label :payment_method, t("booking_form.payment_methods.#{method}") %></th>
      <td><%= form.radio_button :payment_method, method %></td>
    </tr>
  <% end %>
</table>

<table class="attr">
  <tr>
    <th>
      <%= form.label :seat_ids, t("booking_form.seat_selection") %>
      <p><%= t("booking_form.seat_status.available") %>:⚪︎</p>
      <p><%= t("booking_form.seat_status.checked_in") %>:☑️</p>
      <p><%= t("booking_form.seat_status.booked") %>:×</p>
    </th>
    <td>
      <% @flight.airmodel.seats.each_with_index do |seat, i| %>
        <% next if seat.seat_class != @seat_class %>
        <%= check_box_tag "booking[seat_ids][]", seat.id, @booking.seat_ids.include?(seat.id) %>
        <%= label_tag "booking_seat_ids_#{seat.id}", seat.number %><%= @flight.seat_status_mark(seat) %>
        <% if (i + 1) % 6 == 0 %>
          <br>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>

<%= form.hidden_field :seat_class, value: @seat_class %>
<%= form.hidden_field :number_of_passengers, value: @number_of_passengers %>
