<%= render "shared/errors", obj: @booking %>

<%= form.fields_for :booking_seat_flights do |bfs_form| %>
  <table class="attr">
    <%= bfs_form.label :passenger_name, t("booking_form.passenger", number: bfs_form.index + 1) %>
    <tr>
      <th><%= bfs_form.label :passenger_name, t("booking_form.name") %></th>
      <td><%= bfs_form.text_field :passenger_name %></td>
    </tr>
    <tr>
      <th><%= bfs_form.label :passenger_birthday, t("booking_form.birthday") %></th>
      <td><%= bfs_form.date_select :passenger_birthday, start_year: 1940, end_year: Time.current.year, use_month_numbers: true %></td>
    </tr>
    <tr>
      <th><%= bfs_form.label :passenger_telephone_number, t("booking_form.telephone_number") %></th>
      <td><%= bfs_form.text_field :passenger_telephone_number %></td>
    </tr>
    <tr>
      <th><%= bfs_form.label :passenger_email, t("booking_form.email") %></th>
      <td><%= bfs_form.text_field :passenger_email %></td>
    </tr>

    <tr>
      <th><%= bfs_form.label :seat_id, t("booking_form.seat_selection") %></th>
      <td>
        <% @flight.airmodel.seats.where(seat_class: @seat_class).each_with_index do |seat, i| %>
          <%= bfs_form.radio_button :seat_id, seat.id %>
          <%= label_tag :seat_id, seat.number %><%= @flight.seat_status_mark(seat) %>
          <% if (i + 1) % 6 == 0 %>
            <br>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
  <%= bfs_form.hidden_field :flight_id, value: @flight.id %>
<% end %>

<table>
  <%= form.label :payment_method, t("booking_form.payment_method") %>
  <% %w[クレジットカード PayPay コンビニ払い].each do |method| %>
    <tr>
      <th><%= form.label :payment_method, t("booking_form.payment_methods.#{method}") %></th>
      <td><%= form.radio_button :payment_method, method %></td>
    </tr>
  <% end %>
</table>

<%# 席選択のためのチェックボックス一覧 %>
<!--<table class="attr">-->
<!--  <tr>-->
<!--    <th>-->
<%#= form.label :seat_ids, t("booking_form.seat_selection") %>
<!--      <p><%#= t("booking_form.seat_status.available") %>:⚪︎</p>-->
<!--      <p><%#= t("booking_form.seat_status.checked_in") %>:☑️</p>-->
<!--      <p><%#= t("booking_form.seat_status.booked") %>:×</p>-->
<!--    </th>-->
<!--    <td>-->
<%# @flight.airmodel.seats.where(seat_class: @seat_class).each_with_index do |seat, i| %>
<%#= check_box_tag "booking[seat_ids][]", seat.id, @booking.seat_ids.include?(seat.id) %>
<%#= label_tag "booking[seat_ids][]", seat.number %><%#= @flight.seat_status_mark(seat) %>
<%# if (i + 1) % 6 == 0 %>
<!--          <br>-->
<%# end %>
<%# end %>
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->

<%= form.hidden_field :seat_class, value: @seat_class %>
<%= form.hidden_field :number_of_passengers, value: @number_of_passengers %>
