<% @page_title = t("customer_login_form.page_title") %>
<h1><%= @page_title %></h1>
<% if flash.alert %>
  <p class="alert"><%= flash.alert %></p>
<% end %>

<%= form_tag :session, id: "login_form" do %>
  <div>
    <label><%= t("customer_login_form.username") %></label>
    <input type="text" name="login_name">
  </div>
  <div>
    <label><%= t("customer_login_form.password") %></label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value=<%= t("customer_login_form.submit") %>>
  </div>
<% end %>
