<%= form_tag :flights, method: :get do %>
  <div class="flights_search">
    <%= label_tag :origin, "出発地" %>
    <%= select_tag :origin, options_for_select(Airport.all.map { |airport| [airport.name, airport.id] }, params[:origin]) %>
  </div>

  <div class="flights_search">
    <%= label_tag :destination, "到着地" %>
    <%= select_tag :destination, options_for_select(Airport.all.map { |airport| [airport.name, airport.id] }, params[:destination]) %>
  </div>

  <div class="flights_search">
    <%= label_tag :departure_date, "出発日" %>
    <%= date_field_tag :departure_date, (params[:departure_date] ? params[:departure_date] : Time.now.to_date), min: Time.now.to_date %>
  </div>

  <div class="flights_search">
    <%= label_tag "料金" %>
    <%= select_tag :min_price, options_for_select(
      (0..50).map { |n| ["¥#{n * 1000}", n * 1000] }, params[:min_price]
    ), include_blank: "選択してください" %>
    ~
    <%= select_tag :max_price, options_for_select(
      (0..50).map { |n| ["¥#{n * 1000}", n * 1000] },
      params[:max_price]
    ), include_blank: "選択してください" %>
  </div>

  <div class="flights_search">
    <%= label_tag :time, "時刻" %>
    <%= time_field_tag :time, params[:time] %>

    <%= label_tag :selected_time_type, "出発" %>
    <%= radio_button_tag :selected_time_type, "departure", params[:selected_time_type] == "departure" %>

    <%= label_tag :selected_time_type, "到着" %>
    <%= radio_button_tag :selected_time_type, "arrival", params[:selected_time_type] == "arrival" %>
  </div>

  <div>
    <%= label_tag :seat_class, "クラス" %>
    <%= select_tag :seat_class, options_for_select([%w[エコノミー economy], %w[ビジネス business], %w[ファースト first]], params[:seat_class]) %>
  </div>

  <%= submit_tag "検索" %>
<% end %>