<%= image_tag "logo.png", size: "272x48", alt: "Blue Ticket" %>
<% if current_customer %>
  <ul class="account-menu">
    <%= menu_link_to current_customer.name + "さん", :account %>
    <%= menu_link_to "ログアウト", :session, method: :delete, data: { confirm: "ログアウトしますか？" } %>
  </ul>
<% end %>

<% if controller.kind_of?(Admin::Base) && current_administrator %>
  <ul class="account-menu">
    <%= current_administrator.name + "さん" %>
    <%= menu_link_to "ログアウト", [:admin, :session], method: :delete, data: { confirm: "ログアウトしますか？" } %>
  </ul>
<% end %>

<% if controller.kind_of?(Air::Base) && current_airline %>
  <ul class="account-menu">
    <%= current_airline.name + "さん" %>
    <%= menu_link_to "ログアウト", [:air, :session], method: :delete, data: { confirm: "ログアウトしますか？" } %>
  </ul>
<% end %>

<nav class="menubar">
  <ul>
    <%= menu_link_to t("top_page.page_title"), :root %>
    <%= menu_link_to t("account.my_page_title"), :account if current_customer %>
    <%= menu_link_to t("bookings.index_page_title"), [:account, :bookings] if current_customer %>
    <%= menu_link_to t("japanese"), change_language(:ja) %>
    <%= menu_link_to t("english"), change_language(:en) %>
  </ul>
</nav>