<% @page_title = t("flights.table.flight_details") %>
<h1><%= @page_title %></h1>
<%= link_to t("flights.table.return_to_operations"), [:new, :air, :flight] %>

<table class="list">
  <tr>
    <th>ID</th>
    <th><%= t("flights.table.name") %></th>
    <th><%= t("flights.table.origin_destination") %></th>
    <th><%= t("flights.table.date") %></th>
    <th><%= t("flights.table.times") %></th>
    <th><%= t("flights.table.airmodel_name") %></th>
    <th><%= t("flights.table.economy_business_first_price") %></th>
    <th><%= t("flights.table.economy_business_first_seats") %></th>
  </tr>
  <tr>
    <td><%= @flight.id %></td>
    <td><%= @flight.name %></td>
    <td><%= "#{@flight.origin.name} → #{@flight.destination.name}" %></td>
    <td><%= @flight.departure_date.strftime("%Y/%m/%d") %></td>
    <td><%= "#{@flight.departure_time.strftime("%H:%M")} → #{@flight.arrival_time.strftime("%H:%M")}" %></td>
    <td><%= @flight.airmodel.name %></td>
    <td><%= "¥#{@flight.price} ¥#{@flight.price + 2000} ¥#{@flight.price + 10000}" %></td>

    <% economy_nums, business_nums, first_nums = [@flight.airmodel.economy_nums, @flight.airmodel.business_nums, @flight.airmodel.first_nums] %>
    <td><%= "#{economy_nums} #{business_nums} #{first_nums}" %></td>
  </tr>
</table>


<table class="attr">
  <tr>
    <th>
      <%= t("flights.table.seats_status") %>
      <p><%= t("booking_form.seat_status.available") %>:⚪︎</p>
      <p><%= t("booking_form.seat_status.checked_in") %>:☑️</p>
      <p><%= t("booking_form.seat_status.booked") %>:×</p>
    </th>
    <td>
      <% @flight.airmodel.seats.each_with_index do |seat, i| %>
        <%= seat.number %><%= @flight.seat_status_mark(seat) %>
        <% if (i + 1) % 6 == 0 %><br>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
