<%= link_to "管理者トップへ戻る", [:admin, :root] %>
<%= form_tag :customers, method: :get do %>
  <div>
    <label>ユーザー名：</label>
    <%= text_field_tag :login_name, params[:login_name] %>
  </div>
<% end %>

<table class="list">
  <tr>
    <th>名前</th>
    <th>アルファベット名</th>
    <th>ログイン名</th>
    <th>性別</th>
    <th>誕生日</th>
    <th>E-mail</th>
    <th>詳細</th>
  </tr>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.alph_name %></td>
      <td><%= customer.login_name %></td>
      <td><%= (customer.sex == 1 ? "男性" : "女性") %></td>
      <td><%= customer.birthday %></td>
      <td><%= customer.email %></td>
      <td><%= link_to "アカウント詳細", customer %></td>
    </tr>
  <% end %>
</table>
