<%= link_to t("admin.return_to_top"), [:admin, :root] %>
<%= form_tag :customers, method: :get do %>
  <div>
    <label><%= t("account.user_name") %>：</label>
    <%= text_field_tag :login_name, params[:login_name] %>
  </div>
<% end %>

<table class="list">
  <tr>
    <th><%= t("account.name") %></th>
    <th><%= t("account.alph_name") %></th>
    <th><%= t("account.login_name") %></th>
    <th><%= t("account.gender") %></th>
    <th><%= t("account.birthday") %></th>
    <th><%= t("account.email") %></th>
  </tr>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= link_to customer.name, customer %></td>
      <td><%= customer.alph_name %></td>
      <td><%= customer.login_name %></td>
      <td><%= (customer.sex == 1 ? t("account.options.male") : t("account.options.female")) %></td>
      <td><%= customer.birthday %></td>
      <td><%= customer.email %></td>
    </tr>
  <% end %>
</table>
