<%= link_to t("admin.return_to_customer_search"), :customers %>
<table class="list">
  <tr>
    <th><%= t("account.name") %></th>
    <th><%= t("account.alph_name") %></th>
    <th><%= t("account.login_name") %></th>
    <th><%= t("account.gender") %></th>
    <th><%= t("account.birthday") %></th>
    <th><%= t("account.email") %></th>
    <th><%= t("account.delete") %></th>
  </tr>
  <tr>
    <td><%= @customer.name %></td>
    <td><%= @customer.alph_name %></td>
    <td><%= @customer.login_name %></td>
    <td><%= (@customer.sex == 1 ? t("account.options.male") : t("account.options.female")) %></td>
    <td><%= @customer.birthday %></td>
    <td><%= @customer.email %></td>
    <td><%= link_to t("account.delete_account"), @customer, method: :delete,
                    data: { confirm: t("account.delete_confirm") } %></td>
  </tr>
</table>

<table class="list">
  <tr>
    <th><%= t("bookings.table.airline_flight") %></th>
    <th><%= t("bookings.table.origin_destination") %></th>
    <th><%= t("bookings.table.date") %></th>
    <th><%= t("bookings.table.times") %></th>
    <th><%= t("bookings.passenger.check_in") %></th>
    <th><%= t("flights.table.flight_details") %></th>
  </tr>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.flight.name %></td>
      <td><%= "#{booking.flight.origin.name} → #{booking.flight.destination.name}" %></td>
      <td><%= booking.flight.departure_date.strftime("%Y/%m/%d") %></td>
      <td><%= "#{booking.flight.departure_time.strftime("%H:%M")} → #{booking.flight.arrival_time.strftime("%H:%M")}" %></td>
      <td>
        <details class="details">
          <summary class="details-summary icon-arrow"><%= t("bookings.passenger.check_in") %></summary>
          <% booking.booking_seat_flights.each do |bsf| %>
            <p>
              <%= form_for [:admin, bsf, booking] do |form| %>
                <%= render "shared/errors", obj: booking %>
                <%= bsf.passenger_name %><%= bsf.seat.number %>: <%= bsf.checkin ? t("bookings.passenger.completed") : t("bookings.passenger.not_completed") %>
                <%= form.submit t("bookings.passenger.check_in") unless bsf.checkin %>
              <% end %>
            </p>
          <% end %>
        </details>
      </td>
      <td>
        <details class="details">
          <summary class="details-summary icon-arrow"><%= t("flights.table.flight_details") %></summary>
          <p><%= t("bookings.table.number_of_passengers") %><%= "#{booking.seats.size}" %>
          <p><%= booking.payment_method %></p>
          <p><%= "¥#{booking.total_price}" %></p>
          <p><%= "#{t("flights.table.airmodel_name")}:#{booking.flight.airmodel.name}" %></p>
          <p><%= link_to t("bookings.delete_booking"), [:admin, @customer, booking], method: :delete, data: { confirm: t("bookings.delete_confirm") } %></p>
        </details>
      </td>
    </tr>
  <% end %>
</table>
