<% @page_title = "マイページ" %>
<h1><%= @page_title %></h1>
<p><%= link_to "編集", [:edit, :account] %></p>
<p><%= link_to "パスワード変更", [:edit, :password] %></p>

<table>
  <tr>
    <th>名前</th>
    <td><%= @customer.name %></td>
  </tr>

  <tr>
    <th>アルファベット名</th>
    <td><%= @customer.alph_name %></td>
  </tr>

  <tr>
    <th>ログイン名</th>
    <td><%= @customer.login_name %></td>
  </tr>

  <tr>
    <th>性別</th>
    <td><%= (@customer.sex == 1 ? "男性" : "女性") %></td>
  </tr>

  <tr>
    <th>誕生日</th>
    <td><%= @customer.birthday %></td>
  </tr>

  <tr>
    <th>E-mail</th>
    <td><%= @customer.email %></td>
  </tr>
</table>

<%= link_to "アカウントを削除", :account, method: :delete,
            data: { confirm: "本当に削除しますか?" } %>